
.container-mess {
  overflow: scroll;
  flex-grow: 1;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-bottom: 20px;
}
.welcome-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.message-user {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: start;
  gap: 10px;
}
.message-robot {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  margin-top: 20px;
  gap: 10px;
}
.avatar {
  width: 50px;
  border-radius: 50px;
  object-fit: cover;
}
.container-message-send {
  align-items: center;
  padding: 10px 18px;
  max-width: 250px;
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
  overflow-wrap: break-word;
}
.loading-gif {
  width: 35px;
}
.message-text {
  font-size: 18px;
}
.time-send-mess {
  font-size: 12px;
  margin-top: 5px;
  color: rgb(83, 82, 82);
}